body {
  background-color: #0A384C;
  font-family: 'Catamaran', sans-serif;
}

img {
  max-width: 100%;
  /*margin-left: 1%;*/
}

a:link {
  color: #247499;
  text-decoration: none;
}

a:visited {
  color: #4C2B02;
}

article {
  padding: 2%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 1%;
  margin-bottom: 1%;
  max-width: 90%;
  height: auto;
  background-color: white;
  opacity: 0.8;
}

main {
  max-width: 100%;
}

h1 {
  font-size: 2.618em;
  margin: 0em;
}

h2 {
  font-size: 1.618em;
  margin: 0em;
}

p {
  font-size: 1em;
}
